
<div class='col-md-8'>
  <h3> All Investment Account Information </h3>

  <div class='row'>
    <div class='col-md-6'>
      <%= link_to 'New Investment Account', new_investment_account_path, class: 'btn btn-success fa fa-plus' %>
    </div>
  </div>

  <div class='d-flex justify-content-center h-100 d-table'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Original Account Number</th>
          <th>New Account Number</th>
          <th>Original Owner</th>
          <th>New Owner</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @investment_accounts.each do |investment_account| %>
          <tr>
            <td><%= investment_account.compnay_name %></td>
            <td><%= investment_account.original_account_number %></td>
            <td><%= investment_account.new_account_number %></td>
            <td><%= investment_account.original_owner %></td>
            <td><%= investment_account.new_owner %></td>
            <td>
              <%= link_to 'Edit', edit_investment_account_path(investment_account), class: 'col-md-2' %>
              <%= link_to 'View', investment_account_path(investment_account), class: 'col-md-2' %>
              <%= link_to 'Delete', investment_account_path(investment_account), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'col-md-2 delete-investment-account' %>
              <%= link_to 'Generate PDF', generate_pdf_investment_account_path(investment_account), class: 'col-md-2' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
