<div class='col-md-8'>
  <h1> Investment Accounts </h1>
  <hr>

  <div class='d-flex justify-content-center h-100 d-table'>
    <table class='table table-striped' >
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Original Account Number</th>
          <th>New Account Number</th>
          <th>Original Owner</th>
          <th>New Owner</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="<%= fetch_color(@investment_account.compnay_name) %>"><span class="h" data-style="<%= fetch_highlight_color(@investment_account.compnay_name) %>"><%= fetch_name(@investment_account.compnay_name) %></span></td>
          <td class="<%= fetch_color(@investment_account.original_account_number) %>"><span class="h" data-style="<%= fetch_highlight_color(@investment_account.original_account_number) %>"><%= fetch_name(@investment_account.original_account_number) %></span></td>
          <td class="<%= fetch_color(@investment_account.new_account_number) %>"><span class="h" data-style="<%= fetch_highlight_color(@investment_account.new_account_number) %>"><%= fetch_name(@investment_account.new_account_number) %></span></td>
          <td class="<%= fetch_color(@investment_account.original_owner) %>"><span class="h" data-style="<%= fetch_highlight_color(@investment_account.original_owner) %>"><%= fetch_name(@investment_account.original_owner) %></span></td>
          <td class="<%= fetch_color(@investment_account.new_owner) %>"><span class="h" data-style="<%= fetch_highlight_color(@investment_account.new_owner) %>"><%= fetch_name(@investment_account.new_owner) %></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
</div>
