<div class='col-md-8'>
  <h1> Assets Report </h1>
  <hr>

  <h3> Investment Accounts </h3>
  <div class='d-flex justify-content-center h-100 d-table'>
    <table class='table table-striped' >
      <thead>
        <tr>
          <th>#</th>
          <th>Company Name</th>
          <th>Original Account Number</th>
          <th>New Account Number</th>
          <th>Original Owner</th>
          <th>New Owner</th>
        </tr>
      </thead>

      <tbody>
        <% @investment_accounts.each_with_index do |investment_account, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= investment_account.compnay_name %></td>
            <td><%= investment_account.original_account_number %></td>
            <td><%= investment_account.new_account_number %></td>
            <td><%= investment_account.original_owner %></td>
            <td><%= investment_account.new_owner %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr>

  <h3> Cash Accounts </h3>
  <div class='d-flex justify-content-center h-100 d-table'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>#</th>
          <th>Company Name</th>
          <th>Original Account Number</th>
          <th>New Account Number</th>
          <th>Original Owner</th>
          <th>New Owner</th>
        </tr>
      </thead>

      <tbody>
        <% @cash_accounts.each_with_index do |cash_account, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= cash_account.compnay_name %></td>
            <td><%= cash_account.original_account_number %></td>
            <td><%= cash_account.new_account_number %></td>
            <td><%= cash_account.original_owner %></td>
            <td><%= cash_account.new_owner %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
