<div class='col-md-10 light-blue-background'>
  <h3 class='align-center'> All Cash Account Information </h3>

  <div class='row'>
    <div class='col-md-6'>
      <%= link_to 'New Cash Account', new_cash_account_path, class: 'btn btn-success fa fa-plus' %>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Original Account Number</th>
            <th>New Account Number</th>
            <th>Original Owner</th>
            <th>New Owner</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @cash_accounts.each do |cash_account| %>
            <tr>
              <td><%= cash_account.compnay_name %></td>
              <td><%= cash_account.original_account_number %></td>
              <td><%= cash_account.new_account_number %></td>
              <td><%= cash_account.original_owner %></td>
              <td><%= cash_account.new_owner %></td>
              <td>
                <%= link_to 'Edit', edit_cash_account_path(cash_account), class: 'col-md-2' %>
                <%= link_to 'View', cash_account_path(cash_account), class: 'col-md-2' %>
                <%= link_to 'Delete', cash_account_path(cash_account), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'col-md-2 delete-cash-account' %>
                <%= link_to 'Generate PDF', generate_pdf_cash_account_path(cash_account), class: 'col-md-2', target: :_blank %>
                <%= link_to 'Generate Docx', generate_docx_cash_account_path(cash_account), class: 'col-md-2', target: :_blank %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
